:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--light-gray);
    font-size: 15px;
    font-family: "Outfit", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    margin: 20vh 5vw;
    padding: 15px 0px;
}

img {
    width: 90%;
}

main,
img {
    border-radius: 5%;
}

h1 {
    font-weight: 700;
    color: var(--dark-blue)
}

p {
    font-weight: 400;
    color: var(--grayish-blue)
}

section {
    text-align: center;
    padding: 10px;
}

@media(min-width: 376px) {
    main {
        margin: 9em auto;
        max-width: 400px;
    }
}